<%- include("./partials/header.ejs") %>

<div class="flex-content">
  <div class="title">
    <h1 class="mb-0">Blog Project</h1>
  </div>

  <!-- if blog posts exist, then display them -->
  <% if (locals.blogPosts && Object.keys(locals.blogPosts).length > 0) {%>
  <ul class="blogPosts">
    <% for (var postId in blogPosts) {%>
    <form action="/delete" method="post">
      <input
        type="hidden"
        name="title"
        value="<%= blogPosts[postId].title %>"
        readonly
      />
      <div class="container my-3">
        <div class="row justify-content-center">
          <div class="card col-8 ">
            <div class="card-body">
              <h5 class="card-title"><%= blogPosts[postId].title %></h5>
              <p class="card-text">
                <% if (blogPosts[postId].content.length > 100) {%>
                  <p><%= blogPosts[postId].content.substr(0,100) + "..." %></p>
                <% } else { %>
                  <p><%= blogPosts[postId].content%></p>
                  <% } %>
              </p>
              <a href="/posts/<%= encodeURIComponent(blogPosts[postId].title)%>" class="btn btn-dark">Read more</a>

              <!-- edit button -->

              <% const urlTitle = encodeURIComponent((blogPosts[postId].title).replace(/ /g, "-").toLowerCase())%>
              <a href="/posts/<%=urlTitle%>/edit" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"></path>
                </svg>
              </a>

              <!-- delete button -->
              <button type="submit" class="btn btn-dark delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <%}%>
  </ul>
</div>

<% } %> <%- include("./partials/footer.ejs") %>

<!-- structure of posts -->
<!-- styled properly of course -->
<!-- TITLE -->
<!-- date created SMALL -->
<!-- content -->
